%section.section
  .container
    .columns.is-multiline
      - @recipes.each do |recipe|
        - if user_signed_in?
          .column.is-3
            .card
              .card-image
                %figure.image.is-4by3
                  = link_to recipe_path(recipe) do
                    = attachment_image_tag recipe, :image
              .card-content
                .media
                  .media-left
                    %figure.image.is-48x48
                      = attachment_image_tag recipe.user, :profile_image, fallback: "no-image.png", class: "profile_image"
                  .media-content
                    .title= link_to recipe.user.name, user_path(recipe.user)
                .content
                  %time= recipe.updated_at.strftime("%Y-%m-%d %H:%M")
        - else
          .column.is-3
            .card
              .card-image
                %figure.image.is-4by3
                  = link_to recipe_path(recipe) do
                    = attachment_image_tag recipe, :image
              .card-content
                .media
                  .media-left
                    %figure.image.is-48x48
                      = attachment_image_tag recipe.user, :profile_image, fallback: "no-image.png", class: "profile_image"
                  .media-content
                    .title= link_to recipe.user.name, new_user_session_path
                .content
                  %time= recipe.updated_at.strftime("%Y-%m-%d %H:%M")
