%section.hero.is-warning
  .hero-body
    .container
      %h1.title
        レシピ詳細
%section.section
  .container
    .columns.is-centered
      .column.is-7
        .card
          .card-image
            %figure.image.is-4by3
              = attachment_image_tag @recipe, :image
          .card-content
            .media
              .media-content
                %p.title.is-4= @recipe.title
            .content
              %table.table.is-narrow
                %tr
                  %th レシピ
                %tr
                  %td= simple_format @recipe.body
              - if @recipe.user.id == current_user.id
                = link_to "編集画面へ", edit_recipe_path(@recipe), class: "button is-success"
      .column.is-4
        %article.panel.is-link
          %p.panel-heading
            By #{@recipe.user.name}
          .panel-block
            %p.control
              = @recipe.user.profile
          = link_to user_path(@recipe.user), class: "panel-block" do
            %span.panel-icon
              %i.fas.fa-user{"aria-hidden" => "true"}
            = @recipe.user.name
            さんのページへ
