%section.hero.is-warning
  .hero-body
    .container
      %h1.title
        ユーザーリスト
%section.section
  .container
    .columns.is-multiline
      - @users.each do |user|
        - if user_signed_in?
          .column.is-3
            .card
              .card-content
                .card-image
                  %figure.image
                    = link_to user_path(user) do
                      = attachment_image_tag user, :profile_image, fallback: "no-image.png"
              .card-content
                .media
                  .media-content
                    .title= link_to user.name, user_path(user)
                .content
                  投稿数：#{user.recipes.count}
        - else
          .column.is-3
            .card
              .card-content
                .card-image
                  %figure.image
                    = link_to new_user_session_path do
                      = attachment_image_tag user, :profile_image, fallback: "no-image.png"
              .card-content
                .media
                  .media-content
                    .title= link_to user.name, new_user_session_path
                .content
                  投稿数：#{user.recipes.count}
