.fullscreen
  .catch_copy
    .catch_copy__text
      %h1
        料理を楽しむ全ての人に
      %p
        Cook appはだれでもかんたんにレシピをシェアできる
        %br
        レシピサイトです
      %a.download(href="#")
        %img(src="http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" alt="")/
      %a.download(href="#")
        %img(src="http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" alt="")/
  .pick_up
    .pick_up__new
      %h1 新着レシピ
      = render partial: "template/pick_up"
    .pick_up__new
      %h1 人気のシェフ
      = render partial: "template/popular"
  .foot
    .foot__contents
      .foot__contents--content
        %h1
          Cook appについて
        %ul
          %li
            = link_to "会社概要（運営会社）", "#"
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "Cook app 利用規約", "#"
      .foot__contents--content
        %h1
          Cook appを見る
        %ul
          %li
            = link_to "お気に入り一覧", "#"
          %li
            = link_to "カテゴリー一覧", "#"
      .foot__contents--content
        %h1
          ヘルプ＆ガイド
        %ul
          %li
            = link_to "Cook app ガイド", "#"
          %li
            = link_to "お知らせ", "#"
    .foot__icon
      Cook app